@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials//mixins" as *;
@use "../../styles/partials/variables" as *;

.page-layout1{
  margin-left: 66px;
}
.advance {
  padding: 0 1rem;
  text-align: center;
  &-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 2rem;
  }
  &-title {
    font-size: 36px;
    line-height: 42.25px;
    font-weight: 300;
    font-style: normal;
    text-shadow: 0 4px 4px rgb(0, 0, 0, 0.25);
  }
  &-actions {
    text-align: center;
    display: flex;
    justify-content: center;
    gap: 7px;
  }
  &-button {
    width: 84px;
    height: 27px;
    background: #d2d2d2;
    border-radius: 8px;
    border: none;
    font-family: inherit;
    font-size: 12px;
    line-height: 15px;
    &--long {
      width: 102px;
      background: #f8fafc;
      color: #4ea2dd;
    }
  }
  &-charts {
    padding-top: 3rem;
  }
}
