//Main Colors
$primary: #1E293B;
$secondary: #24A3A9;
$background: #FFFFFF;
$background-2: #F8FAFC;
$btn-text: #1B7A7F;
$btn-background: #EAFAFB;

//Chart colors
$chart-red: #f3849d;
$chart-green: #95E8A3;
$chart-blue: #1aa5e2;
$chart-green-2: #b5c75a;
$chart-grey: #ecf0f5;

//Other
$yellow-1: #AD8C37;
$yellow-2: #FFFCF4;
$blue-1: #2A1768;
$blue-2: #F6F4FB;
$green-1: #406E22;
$green-2: #F6FCF3;