$col-text: #13182c; // instock-black
$col-header-btn-bg: #BDC5D5; 
$col-interactive: #2e66e5; // instock-indigo
$col-white: #ffffff; // global white

$col-columnheaders: #5c667e; // Slate
$col-dividers: #bdc5d5; // cloud

$col-header-background: #232940; // Graphite
$col-page-background: #f7f8f9; // Light Grey

$col-instock: #158463; // green
$col-outofstock: #c94515; // red

$col-delete-button: #c94515; // red
$col-delete-button-hover: #232940; 
$col-cancel-button: white; 

$nav-unselected: #bdc5d5; // cloud